<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Slide Swiper</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container class="slide">
    <swiper-slide class="slide-item">Slide 1</swiper-slide>
    <swiper-slide class="slide-item">Slide 2</swiper-slide>
    <swiper-slide class="slide-item">Slide 3</swiper-slide>
  </swiper-container>
</ion-content>